 .searchfield input{
	height: 8vh;
	margin: 0 0 1em 0;
 }
 .languageSelect {
	padding-top: 1em;
 }
 
 .search-results{
	padding: 1em 0 0 0;
 }
 
.languageSelect .languageFrom {
	padding: 0 0 1em 0;
}

.row.result .image {
	margin: 0;
	padding: 15px;
}

.row.result .image img {
	width: 100%;
}

.row.result .translations {
	padding: 15px;
}

.row.result .translations .row {
	margin: 0;
	padding: 0 15px 15px 15px;
}

@media (max-width: 768px) {
	.translations .lang:nth-child(2n) {
		background-color: gray;
	}
	.languageSelect {
		padding-left: 15px;
		padding-right: 15px;
	}
	.searchfield {
		padding-left: 15px;
		padding-right: 15px;
	}
}