.word-image {
    height: 200px;
    background: grey;
	margin-bottom: 15px;
}

.word-grid {
    margin: 10px 10px 10px 10px;
    background-color: #c8dbea;
    padding: 10px 10px 10px 10px;
}

.edit-btn{
	width: 100%;
}